.testsvg{
    width: 1000px;
    margin:0 auto;
    padding-top: 20px;
    background: #161319;
    font-size: 12px;
    fill: white;
    height: 500px;
}

.buttons{
    position: absolute;
    top: 100;
    left: 100;
}