@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');



.menu{
    position: fixed;
    display: flex;
    background-color: #161319;
    height: 100vh;
    box-sizing: border-box;
    left: 20px;
    top: 0;
    width: 2010px;
    font-size: 13px;
    text-align: right;
    color:white;
    border-right: 1px solid rgb(141, 141, 141);
    transform: translateX(-1920px);
    transition: transform 1s;
    padding: 15px;
    z-index: 500;
  }

  .menu.open{
    transform: translateX(0);
  }


 
  .container{
    padding: 100px;
    padding-top: 60px;
    width: 1825px;
    box-sizing: border-box;
    color: white;
    text-align: left;
  }

  ul{
      list-style: none;
  }

  li{
    display: inline-block;
  }

  .minititle{
    font-size: 16px;
    font-weight: bolder
  }

  .columns3{
      display: flex;
      margin-top: 80px;
  }


  .column1{

      width: 44%;
      box-sizing: border-box;
      padding-top: 30px;
      font-family: Libre-Baskersville;
      font-weight: lighter;
      font-size: 58px;
  }

  .column{
      width: 28%;
      margin-top: 90px;
      box-sizing: border-box;
      padding: 15px;
      padding-top: 30px;
  }



  .sidebar{
    text-align: left;
    padding-right: 5px;
  }

  .sidebarvisible{
    box-sizing: border-box;
    border-left:1px solid rgba(141, 141, 141,0.4);
    width: 95px;
    padding-top: 123px;
    padding-left: 4px;
  }

  .burger{
    width: 30px;
    display: block;
    margin-top: 300px;
    margin-left: 15px;
    object-fit: contain;
  }

